{% extends 'base.html' %}
{% load static %}

{% block link %}
{% endblock link %}



{% block title %}{% endblock title %}



{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          
        </ol>
        

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">
              {% if post.image %}
              <div class="entry-img">
                <img src="{{post.image.url}}" alt="" class="img-fluid">
              </div>
              {% endif %}

              <h2 class="entry-title">
                {{post.title}}
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> {{post.author.username}}</li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time>{{post.dateTime}}</time></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> {{post.get_all_comments_number}} comments</li>
                </ul>
              </div>

              <div class="entry-content">
                <p>{{post.content}}</p> 
              </div>
            </article><!-- End blog entry -->


            
            <div class="blog-comments">

              <h4 class="comments-count">{{post.get_all_comments_number}} Comments</h4>

              {% for comment in comments %}
              <div id="comment-1" class="comment">
                <div class="d-flex">
                  {% if comment.user.profile.image %}
                  <div class="comment-img"><img src="{{comment.user.profile.image.url}}" alt=""></div>
                  {% else %}
                  <div class="comment-img"><img src="" alt=""></div>
                  {% endif %}
                  <div>
                    <h5><a href="">{{comment.user.username}}</a></h5>
                    <time>{{comment.DateTime}}</time>
                    <p>
                      {{comment.content}}
                    </p>
                  </div>
                </div>
              </div><!-- End comment #1 -->
              {% endfor %}


              <div class="reply-form">
                <h4>Leave a Reply</h4>
                <form action="{% url 'blog_single' post.slug %}" method="POST">
                  {% csrf_token %} 
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="comment" class="form-control" placeholder="Your Comment..."></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post Comment</button>
                </form>

              </div>

            </div><!-- End blog comments -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="{% url 'search' %}" method=="POST">
                  {% csrf_token %}
                  <input type="text" name="searched">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                {% for each_post in all_posts %}
                <div class="post-item clearfix">
                  {% if each_post.image %}
                  <img src="{{each_post.image.url}}" alt="">
                  {% endif %}
                  <h4><a href="{% url 'blog_single' each_post.slug %}">{{each_post.title| truncatechars:30}}</a></h4>
                  <time>{{each_post.dateTime}}</time>
                </div>
                {% endfor %}

                

              </div><!-- End sidebar recent posts-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->
{% endblock content %}

{% block script %}

{% endblock script %}